.faq {
  background-color: var(--color-white);
  padding: var(--section-padding-y) 0;
}

.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 var(--section-padding-x);
}

.header {
  text-align: center;
  margin-bottom: 60px;
}

@media (max-width: 767px) {
  .faq {
    padding: var(--section-padding-y-mobile) 0;
  }

  .container {
    padding: 0 var(--section-padding-x-mobile);
  }

  .header {
    margin-bottom: 40px;
  }
}
